In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [0.123456789], 'b': [0.987654321]})

In [3]:
df

          a         b
0  0.123457  0.987654

In [4]:
print(pd.options.display.precision)

6

In [5]:
%precision 3

'%.3f'

In [6]:
print(pd.options.display.precision)

6

In [7]:
df

          a         b
0  0.123457  0.987654

In [8]:
pd.options.display.precision = 3

In [9]:
df

       a      b
0  0.123  0.988

In [10]:
print(df)

       a      b
0  0.123  0.988