In [1]:
import math

import numpy as np
import pandas as pd

In [2]:
print(float('nan'))

nan

In [3]:
print(type(float('nan')))

<class 'float'>

In [4]:
a = np.genfromtxt('data/src/sample_nan.csv', delimiter=',')
print(a)

[[11. 12. nan 14.]
 [21. nan nan 24.]
 [31. 32. 33. 34.]]

In [5]:
df = pd.read_csv('data/src/sample_pandas_normal_nan.csv')[:3]
print(df)

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1      NaN   NaN   NaN    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN

In [6]:
print(float('nan'))

nan

In [7]:
print(float('NaN'))

nan

In [8]:
print(float('NAN'))

nan

In [9]:
print(math.nan)

nan

In [10]:
print(np.nan)

nan

In [11]:
print(np.NaN)

nan

In [12]:
print(np.NAN)

nan

In [13]:
print(math.isnan(float('nan')))

True

In [14]:
print(math.isnan(math.nan))

True

In [15]:
print(math.isnan(np.nan))

True

In [16]:
print(np.isnan(float('nan')))

True

In [17]:
print(np.isnan([float('nan'), math.nan, np.nan, 0]))

[ True  True  True False]

In [18]:
print(10 < float('nan'))

False

In [19]:
print(10 > float('nan'))

False

In [20]:
print(10 == float('nan'))

False

In [21]:
print(10 != float('nan'))

True

In [22]:
print(float('nan') == float('nan'))

False

In [23]:
print(float('nan') != float('nan'))

True

In [24]:
print(bool(float('nan')))

True

In [25]:
x = float('nan')

if math.isnan(x):
    print('This is nan.')
else:
    print('This is not nan.')

This is nan.

In [26]:
x = 100

if math.isnan(x):
    print('This is nan.')
else:
    print('This is not nan.')

This is not nan.

In [27]:
l = [float('nan'), 0, 1, 2]
print(l)

[nan, 0, 1, 2]

In [28]:
print([x for x in l if not math.isnan(x)])

[0, 1, 2]

In [29]:
print([-100 if math.isnan(x) else x for x in l])

[-100, 0, 1, 2]

In [30]:
print(float('nan') + 100)

nan

In [31]:
print(float('nan') - 100)

nan

In [32]:
print(float('nan') - 100)

nan

In [33]:
print(float('nan') / 100)

nan

In [34]:
print(float('nan') ** 100)

nan