In [1]:
import math

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/src/sample_pandas_normal_nan.csv')[:3]
print(df)

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1      NaN   NaN   NaN    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN

In [3]:
print(df.isnull())

    name    age  state  point  other
0  False  False  False   True   True
1   True   True   True   True   True
2  False   True  False   True   True

In [4]:
print(df.dropna(how='all'))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN

In [5]:
print(df.fillna(0))

      name   age state  point  other
0    Alice  24.0    NY    0.0    0.0
1        0   0.0     0    0.0    0.0
2  Charlie   0.0    CA    0.0    0.0

In [6]:
print(df.dtypes)

name      object
age      float64
state     object
point    float64
other    float64
dtype: object

In [7]:
print(df.at[1, 'name'])

nan

In [8]:
print(type(df.at[1, 'name']))

<class 'float'>

In [9]:
print(df.at[1, 'age'])

nan

In [10]:
print(type(df.at[1, 'age']))

<class 'numpy.float64'>

In [11]:
s_nan = pd.Series([float('nan'), math.nan, np.nan])
print(s_nan)

0   NaN
1   NaN
2   NaN
dtype: float64

In [12]:
print(s_nan.isnull())

0    True
1    True
2    True
dtype: bool

In [13]:
print(None)

None

In [14]:
print(type(None))

<class 'NoneType'>

In [15]:
s_none_float = pd.Series([None, 0.1, 0.2])
s_none_float[2] = None
print(s_none_float)

0    NaN
1    0.1
2    NaN
dtype: float64

In [16]:
print(s_none_float.isnull())

0     True
1    False
2     True
dtype: bool

In [17]:
s_none_int = pd.Series([None, 1, 2])
print(s_none_int)

0    NaN
1    1.0
2    2.0
dtype: float64

In [18]:
s_none_object = pd.Series([None, 'abc', 'xyz'])
print(s_none_object)

0    None
1     abc
2     xyz
dtype: object

In [19]:
print(s_none_object.isnull())

0     True
1    False
2    False
dtype: bool

In [20]:
print(s_none_object.fillna(0))

0      0
1    abc
2    xyz
dtype: object

In [21]:
s_str = pd.Series(['NaN', 'None', ''])
print(s_str)

0     NaN
1    None
2
dtype: object

In [22]:
print(s_str.isnull())

0    False
1    False
2    False
dtype: bool

In [23]:
s_replace = s_str.replace(['NaN', 'None', ''], float('nan'))
print(s_replace)

0   NaN
1   NaN
2   NaN
dtype: float64

In [24]:
print(s_replace.isnull())

0    True
1    True
2    True
dtype: bool

In [25]:
s_inf = pd.Series([float('inf'), -float('inf')])
print(s_inf)

0    inf
1   -inf
dtype: float64

In [26]:
print(s_inf.isnull())

0    False
1    False
dtype: bool

In [27]:
pd.options.mode.use_inf_as_na = True

In [28]:
print(s_inf)

0   NaN
1   NaN
dtype: float64

In [29]:
print(s_inf.isnull())

0    True
1    True
dtype: bool

In [30]:
s_inf_object = pd.Series([float('inf'), -float('inf'), 'abc'])
print(s_inf_object)

0    NaN
1    NaN
2    abc
dtype: object

In [31]:
print(s_inf_object.isnull())

0     True
1     True
2    False
dtype: bool

In [32]:
print(pd.NA)

<NA>

In [33]:
print(type(pd.NA))

<class 'pandas._libs.missing.NAType'>

In [34]:
print(float('nan') == float('nan'))

False

In [35]:
print(pd.NA == pd.NA)

<NA>

In [36]:
s_na = pd.Series([None, 1, 2], dtype='Int64')
print(s_na)

0    <NA>
1       1
2       2
dtype: Int64

In [37]:
print(s_na.isnull())

0     True
1    False
2    False
dtype: bool

In [38]:
print(s_na.fillna(0))

0    0
1    1
2    2
dtype: Int64