In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/src/sample_pandas_normal_nan.csv')
print(df)

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1      NaN   NaN   NaN    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen   NaN    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [3]:
print(df.fillna(0))

      name   age state  point  other
0    Alice  24.0    NY    0.0    0.0
1        0   0.0     0    0.0    0.0
2  Charlie   0.0    CA    0.0    0.0
3     Dave  68.0    TX   70.0    0.0
4    Ellen   0.0    CA   88.0    0.0
5    Frank  30.0     0    0.0    0.0

In [4]:
print(df.fillna({'name': 'XXX', 'age': 20, 'ZZZ': 100}))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1      XXX  20.0   NaN    NaN    NaN
2  Charlie  20.0    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  20.0    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [5]:
s_for_fill = pd.Series(['XXX', 20, 100], index=['name', 'age', 'ZZZ'])
print(s_for_fill)

name    XXX
age      20
ZZZ     100
dtype: object

In [6]:
print(df.fillna(s_for_fill))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1      XXX  20.0   NaN    NaN    NaN
2  Charlie  20.0    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  20.0    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [7]:
print(df.mean())

age      40.666667
point    79.000000
other          NaN
dtype: float64

In [8]:
print(df.fillna(df.mean()))

      name        age state  point  other
0    Alice  24.000000    NY   79.0    NaN
1      NaN  40.666667   NaN   79.0    NaN
2  Charlie  40.666667    CA   79.0    NaN
3     Dave  68.000000    TX   70.0    NaN
4    Ellen  40.666667    CA   88.0    NaN
5    Frank  30.000000   NaN   79.0    NaN

In [9]:
print(df.fillna(df.median()))

      name   age state  point  other
0    Alice  24.0    NY   79.0    NaN
1      NaN  30.0   NaN   79.0    NaN
2  Charlie  30.0    CA   79.0    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  30.0    CA   88.0    NaN
5    Frank  30.0   NaN   79.0    NaN

In [10]:
print(df.fillna(df.mode().iloc[0]))

      name   age state  point  other
0    Alice  24.0    NY   70.0    NaN
1    Alice  24.0    CA   70.0    NaN
2  Charlie  24.0    CA   70.0    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  24.0    CA   88.0    NaN
5    Frank  30.0    CA   70.0    NaN

In [11]:
print(df.fillna(method='ffill'))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1    Alice  24.0    NY    NaN    NaN
2  Charlie  24.0    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  68.0    CA   88.0    NaN
5    Frank  30.0    CA   88.0    NaN

In [12]:
print(df.fillna(method='bfill'))

      name   age state  point  other
0    Alice  24.0    NY   70.0    NaN
1  Charlie  68.0    CA   70.0    NaN
2  Charlie  68.0    CA   70.0    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  30.0    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [13]:
print(df.fillna(method='ffill', limit=1))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1    Alice  24.0    NY    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  68.0    CA   88.0    NaN
5    Frank  30.0    CA   88.0    NaN

In [14]:
print(df.fillna(method='bfill', limit=1))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1  Charlie   NaN    CA    NaN    NaN
2  Charlie  68.0    CA   70.0    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  30.0    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [15]:
print(df.fillna(method='ffill', axis=1))

      name      age state point other
0    Alice     24.0    NY    NY    NY
1      NaN      NaN   NaN   NaN   NaN
2  Charlie  Charlie    CA    CA    CA
3     Dave     68.0    TX  70.0  70.0
4    Ellen    Ellen    CA  88.0  88.0
5    Frank     30.0  30.0  30.0  30.0

In [16]:
print(df.fillna(method='bfill', axis=1))

      name   age state point other
0    Alice  24.0    NY   NaN   NaN
1      NaN   NaN   NaN   NaN   NaN
2  Charlie    CA    CA   NaN   NaN
3     Dave  68.0    TX  70.0   NaN
4    Ellen    CA    CA  88.0   NaN
5    Frank  30.0   NaN   NaN   NaN

In [17]:
print(df.ffill())

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1    Alice  24.0    NY    NaN    NaN
2  Charlie  24.0    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  68.0    CA   88.0    NaN
5    Frank  30.0    CA   88.0    NaN

In [18]:
print(df.bfill(limit=1))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1  Charlie   NaN    CA    NaN    NaN
2  Charlie  68.0    CA   70.0    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen  30.0    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [19]:
df.fillna(0, inplace=True)
print(df)

      name   age state  point  other
0    Alice  24.0    NY    0.0    0.0
1        0   0.0     0    0.0    0.0
2  Charlie   0.0    CA    0.0    0.0
3     Dave  68.0    TX   70.0    0.0
4    Ellen   0.0    CA   88.0    0.0
5    Frank  30.0     0    0.0    0.0

In [20]:
s = pd.read_csv('data/src/sample_pandas_normal_nan.csv')['age']
print(s)

0    24.0
1     NaN
2     NaN
3    68.0
4     NaN
5    30.0
Name: age, dtype: float64

In [21]:
print(s.fillna(100))

0     24.0
1    100.0
2    100.0
3     68.0
4    100.0
5     30.0
Name: age, dtype: float64

In [22]:
print(s.fillna({1: 100, 4: -100}))

0     24.0
1    100.0
2      NaN
3     68.0
4   -100.0
5     30.0
Name: age, dtype: float64

In [23]:
print(s.fillna(method='bfill', limit=1))

0    24.0
1     NaN
2    68.0
3    68.0
4    30.0
5    30.0
Name: age, dtype: float64

In [24]:
print(s.bfill(limit=1))

0    24.0
1     NaN
2    68.0
3    68.0
4    30.0
5    30.0
Name: age, dtype: float64