In [1]:
import pandas as pd
import json

In [2]:
s = '{"OTHER": "x", "DATA": [{"name":"Alice","age":25},{"name":"Bob","age":42}]}'

In [3]:
print(pd.read_json(s))

  OTHER                          DATA
0     x  {'name': 'Alice', 'age': 25}
1     x    {'name': 'Bob', 'age': 42}

In [4]:
d = json.loads(s)
print(d)

{'OTHER': 'x', 'DATA': [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 42}]}

In [5]:
print(type(d))

<class 'dict'>

In [6]:
print(pd.json_normalize(d))

  OTHER                                               DATA
0     x  [{'name': 'Alice', 'age': 25}, {'name': 'Bob',...

In [7]:
print(pd.json_normalize(d, record_path='DATA'))

    name  age
0  Alice   25
1    Bob   42

In [8]:
print(pd.json_normalize(d, record_path='DATA', meta='OTHER'))

    name  age OTHER
0  Alice   25     x
1    Bob   42     x

In [9]:
print(d['DATA'])

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 42}]

In [10]:
print(type(d['DATA']))

<class 'list'>

In [11]:
print(pd.DataFrame(d['DATA']))

    name  age
0  Alice   25
1    Bob   42

In [12]:
print(pd.json_normalize(d['DATA']))

    name  age
0  Alice   25
1    Bob   42