In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.4.1

In [3]:
df = pd.read_csv('data/src/sample_header_index_dtype.csv', index_col=0)
print(df)

       a    b      c  d
ONE    1    1  100.0  x
TWO    2   20    NaN  y
THREE  3  300  300.0  z

In [4]:
print(df.dtypes)

a      int64
b      int64
c    float64
d     object
dtype: object

In [5]:
print(df.applymap(type))

                   a              b                c              d
ONE    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
TWO    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
THREE  <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>

In [6]:
# pd.read_csv('data/src/sample_header_index_dtype.csv',
#             index_col=0, dtype=float)
# ValueError: could not convert string to float: 'ONE'

In [7]:
df_str = pd.read_csv('data/src/sample_header_index_dtype.csv',
                     index_col=0, dtype=str)
print(df_str)

       a    b    c  d
ONE    1  001  100  x
TWO    2  020  NaN  y
THREE  3  300  300  z

In [8]:
print(df_str.dtypes)

a    object
b    object
c    object
d    object
dtype: object

In [9]:
print(df_str.applymap(type))

                   a              b                c              d
ONE    <class 'str'>  <class 'str'>    <class 'str'>  <class 'str'>
TWO    <class 'str'>  <class 'str'>  <class 'float'>  <class 'str'>
THREE  <class 'str'>  <class 'str'>    <class 'str'>  <class 'str'>

In [10]:
print(df.astype(str).applymap(type))

                   a              b              c              d
ONE    <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>
TWO    <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>
THREE  <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>

In [11]:
df_col = pd.read_csv('data/src/sample_header_index_dtype.csv',
                     index_col=0, dtype={'a': str, 'b': float})
print(df_col)

       a      b      c  d
ONE    1    1.0  100.0  x
TWO    2   20.0    NaN  y
THREE  3  300.0  300.0  z

In [12]:
print(df_col.dtypes)

a     object
b    float64
c    float64
d     object
dtype: object

In [13]:
df_col = pd.read_csv('data/src/sample_header_index_dtype.csv',
                     index_col=0, dtype={1: str, 2: float})
print(df_col)

       a      b      c  d
ONE    1    1.0  100.0  x
TWO    2   20.0    NaN  y
THREE  3  300.0  300.0  z

In [14]:
print(df_col.dtypes)

a     object
b    float64
c    float64
d     object
dtype: object