In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.2.2

In [3]:
df = pd.read_excel('data/src/sample.xlsx', index_col=0)
print(df)

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df_sheet_index = pd.read_excel('data/src/sample.xlsx', sheet_name=0, index_col=0)
print(df_sheet_index)

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [6]:
df_sheet_name = pd.read_excel('data/src/sample.xlsx', sheet_name='sheet2', index_col=0)
print(df_sheet_name)

       AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [7]:
df_sheet_multi = pd.read_excel('data/src/sample.xlsx', sheet_name=[0, 'sheet2'], index_col=0)
print(type(df_sheet_multi))

<class 'dict'>

In [8]:
print(len(df_sheet_multi))

2

In [9]:
print(df_sheet_multi.keys())

dict_keys([0, 'sheet2'])

In [10]:
print(df_sheet_multi[0])

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [11]:
print(type(df_sheet_multi[0]))

<class 'pandas.core.frame.DataFrame'>

In [12]:
print(df_sheet_multi['sheet2'])

       AA  BB  CC
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [13]:
print(type(df_sheet_multi['sheet2']))

<class 'pandas.core.frame.DataFrame'>

In [14]:
df_sheet_all = pd.read_excel('data/src/sample.xlsx', sheet_name=None, index_col=0)
print(type(df_sheet_all))

<class 'dict'>

In [15]:
print(df_sheet_all.keys())

dict_keys(['sheet1', 'sheet2'])

In [16]:
df_header_index = pd.read_excel('data/src/sample.xlsx', header=None, index_col=None)
print(df_header_index)

       0   1   2   3
0    NaN   A   B   C
1    one  11  12  13
2    two  21  22  23
3  three  31  32  33

In [17]:
print(df_header_index.columns)

Int64Index([0, 1, 2, 3], dtype='int64')

In [18]:
print(df_header_index.index)

RangeIndex(start=0, stop=4, step=1)

In [19]:
df_default = pd.read_excel('data/src/sample.xlsx')
print(df_default)

  Unnamed: 0   A   B   C
0        one  11  12  13
1        two  21  22  23
2      three  31  32  33

In [20]:
print(df_default.columns)

Index(['Unnamed: 0', 'A', 'B', 'C'], dtype='object')

In [21]:
print(df_default.index)

RangeIndex(start=0, stop=3, step=1)

In [22]:
print(pd.read_excel('data/src/sample.xlsx', index_col=0))

        A   B   C
one    11  12  13
two    21  22  23
three  31  32  33

In [23]:
df_use_skip = pd.read_excel('data/src/sample.xlsx', index_col=0,
                            usecols=[0, 1, 3], skiprows=[1], skipfooter=1)
print(df_use_skip)

      A   C
two  21  23