In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.4.1

In [3]:
df = pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [4]:
print(df.at['Bob', 'age'])

42

In [5]:
df.at['Bob', 'age'] = 60
print(df.at['Bob', 'age'])

60

In [6]:
print(df.iat[1, 0])

60

In [7]:
df.iat[1, 0] = 42
print(df.iat[1, 0])

42

In [8]:
print(df.loc['Bob', 'age'])

42

In [9]:
print(df.iloc[1, 0])

42

In [10]:
df.loc['Bob', 'age'] = 60
print(df.loc['Bob', 'age'])

60

In [11]:
df.iloc[1, 0] = 42
print(df.iloc[1, 0])

42

In [12]:
print(df.loc['Bob':'Dave', 'age'])
print(type(df.loc['Bob':'Dave', 'age']))

name
Bob        42
Charlie    18
Dave       68
Name: age, dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
print(df.loc[:'Dave', ['point', 'age']])
print(type(df.loc[:'Dave', ['point', 'age']]))

         point  age
name
Alice       64   24
Bob         92   42
Charlie     70   18
Dave        70   68
<class 'pandas.core.frame.DataFrame'>

In [14]:
print(df.iloc[:3, [2, 0]])
print(type(df.iloc[:3, [2, 0]]))

         point  age
name
Alice       64   24
Bob         92   42
Charlie     70   18
<class 'pandas.core.frame.DataFrame'>

In [15]:
print(df.iloc[::2, 0])
print(type(df.iloc[::2, 0]))

name
Alice      24
Charlie    18
Ellen      24
Name: age, dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
print(df.iloc[1::2, 0])
print(type(df.iloc[1::2, 0]))

name
Bob      42
Dave     68
Frank    30
Name: age, dtype: int64
<class 'pandas.core.series.Series'>

In [17]:
df.loc['Bob':'Dave', 'age'] = 0
print(df.loc['Bob':'Dave', 'age'])

name
Bob        0
Charlie    0
Dave       0
Name: age, dtype: int64

In [18]:
df.loc['Bob':'Dave', 'age'] = [20, 30, 40]
print(df.loc['Bob':'Dave', 'age'])

name
Bob        20
Charlie    30
Dave       40
Name: age, dtype: int64

In [19]:
print(df['Bob':'Ellen'])

         age state  point
name
Bob       20    CA     92
Charlie   30    CA     70
Dave      40    TX     70
Ellen     24    CA     88

In [20]:
print(df[:3])

         age state  point
name
Alice     24    NY     64
Bob       20    CA     92
Charlie   30    CA     70

In [21]:
print(df['age'])

name
Alice      24
Bob        20
Charlie    30
Dave       40
Ellen      24
Frank      30
Name: age, dtype: int64

In [22]:
print(df[['age', 'point']])

         age  point
name
Alice     24     64
Bob       20     92
Charlie   30     70
Dave      40     70
Ellen     24     88
Frank     30     57

In [23]:
print(df.loc['Bob'])
print(type(df.loc['Bob']))

age      20
state    CA
point    92
Name: Bob, dtype: object
<class 'pandas.core.series.Series'>

In [24]:
print(df.iloc[[4, 1]])
print(type(df.iloc[[4, 1]]))

       age state  point
name
Ellen   24    CA     88
Bob     20    CA     92
<class 'pandas.core.frame.DataFrame'>

In [25]:
print(df.loc[:, 'age':'point'])
print(type(df.loc[:, 'age':'point']))

         age state  point
name
Alice     24    NY     64
Bob       20    CA     92
Charlie   30    CA     70
Dave      40    TX     70
Ellen     24    CA     88
Frank     30    NY     57
<class 'pandas.core.frame.DataFrame'>

In [26]:
print(df.iloc[:, [0, 2]])
print(type(df.iloc[:, [0, 2]]))

         age  point
name
Alice     24     64
Bob       20     92
Charlie   30     70
Dave      40     70
Ellen     24     88
Frank     30     57
<class 'pandas.core.frame.DataFrame'>

In [27]:
print(df.loc['Bob'])
print(type(df.loc['Bob']))

age      20
state    CA
point    92
Name: Bob, dtype: object
<class 'pandas.core.series.Series'>

In [28]:
print(df.loc['Bob':'Bob'])
print(type(df.loc['Bob':'Bob']))

      age state  point
name
Bob    20    CA     92
<class 'pandas.core.frame.DataFrame'>

In [29]:
print(df.loc[['Bob']])
print(type(df.loc[['Bob']]))

      age state  point
name
Bob    20    CA     92
<class 'pandas.core.frame.DataFrame'>

In [30]:
print(df.iloc[:, 1])
print(type(df.iloc[:, 1]))

name
Alice      NY
Bob        CA
Charlie    CA
Dave       TX
Ellen      CA
Frank      NY
Name: state, dtype: object
<class 'pandas.core.series.Series'>

In [31]:
print(df.iloc[:, 1:2])
print(type(df.iloc[:, 1:2]))

        state
name
Alice      NY
Bob        CA
Charlie    CA
Dave       TX
Ellen      CA
Frank      NY
<class 'pandas.core.frame.DataFrame'>

In [32]:
print(df.iloc[:, [1]])
print(type(df.iloc[:, [1]]))

        state
name
Alice      NY
Bob        CA
Charlie    CA
Dave       TX
Ellen      CA
Frank      NY
<class 'pandas.core.frame.DataFrame'>

In [33]:
l_bool = [True, False, False, True, False, True]

In [34]:
print(df.loc[l_bool, ['age', 'point']])

       age  point
name
Alice   24     64
Dave    40     70
Frank   30     57

In [35]:
print(df.iloc[l_bool, [0, 2]])

       age  point
name
Alice   24     64
Dave    40     70
Frank   30     57

In [36]:
l_bool_wrong = [True, False, False]

In [37]:
# print(df.loc[l_bool_wrong, ['age', 'point']])
# IndexError: Boolean index has wrong length: 3 instead of 6

In [38]:
s_bool = pd.Series([True, False, True, True, False, False],
                   index=reversed(df.index))
print(s_bool)

Frank       True
Ellen      False
Dave        True
Charlie     True
Bob        False
Alice      False
dtype: bool

In [39]:
print(df.loc[s_bool, ['age', 'point']])

         age  point
name
Charlie   30     70
Dave      40     70
Frank     30     57

In [40]:
# print(df.iloc[s_bool, [0, 2]])
# ValueError: Location based indexing can only have [integer,
# integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [41]:
s_bool_wrong = pd.Series([True, False, False], index=['Frank', 'Ellen', 'Dave'])
print(s_bool_wrong)

Frank     True
Ellen    False
Dave     False
dtype: bool

In [42]:
# print(df.loc[s_bool_wrong, ['age', 'point']])
# IndexingError: Unalignable boolean Series provided as indexer
# (index of the boolean Series and of the indexed object do not match).

In [43]:
s_bool_wrong2 = pd.Series([True, False, False, True, False, True],
                          index=['A', 'B', 'C', 'D', 'E', 'F'])
print(s_bool_wrong2)

A     True
B    False
C    False
D     True
E    False
F     True
dtype: bool

In [44]:
# print(df.loc[s_bool_wrong2, ['age', 'point']])
# IndexingError: Unalignable boolean Series provided as indexer
# (index of the boolean Series and of the indexed object do not match).

In [45]:
df_duplicated = pd.read_csv('data/src/sample_pandas_normal.csv', index_col=2)
df_duplicated.columns = ['name', 'age', 'age']
print(df_duplicated)

          name  age  age
state
NY       Alice   24   64
CA         Bob   42   92
CA     Charlie   18   70
TX        Dave   68   70
CA       Ellen   24   88
NY       Frank   30   57

In [46]:
print(df_duplicated.at['NY', 'age'])
print(type(df_duplicated.at['NY', 'age']))

       age  age
state
NY      24   64
NY      30   57
<class 'pandas.core.frame.DataFrame'>

In [47]:
print(df_duplicated.loc['NY', 'age'])
print(type(df_duplicated.loc['NY', 'age']))

       age  age
state
NY      24   64
NY      30   57
<class 'pandas.core.frame.DataFrame'>

In [48]:
print(df_duplicated.iat[0, 1])

24

In [49]:
print(df_duplicated.iloc[:2, [0, 1]])

        name  age
state
NY     Alice   24
CA       Bob   42

In [50]:
print(df_duplicated.index.is_unique)

False

In [51]:
print(df_duplicated.columns.is_unique)

False

In [52]:
print(df)

         age state  point
name
Alice     24    NY     64
Bob       20    CA     92
Charlie   30    CA     70
Dave      40    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [53]:
print(df.index[2])

Charlie

In [54]:
print(df.columns[1])

state

In [55]:
print(df.index[2:4])

Index(['Charlie', 'Dave'], dtype='object', name='name')

In [56]:
print(df.columns[[0, 2]])

Index(['age', 'point'], dtype='object')

In [57]:
print(df.at[df.index[2], 'age'])

30

In [58]:
print(df.loc[['Alice', 'Dave'], df.columns[[0, 2]]])

       age  point
name
Alice   24     64
Dave    40     70

In [59]:
print(df['age'][2])

30

In [60]:
print(df.loc[['Alice', 'Dave']].iloc[:, [0, 2]])

       age  point
name
Alice   24     64
Dave    40     70