In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0)

In [3]:
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [4]:
df = df.assign(point_ratio=df['point'] / 100)
df = df.drop(columns='state')
df = df.sort_values('age')
df = df.head(3)

In [5]:
print(df)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88

In [6]:
df_mc = pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0).assign(point_ratio=df['point'] / 100).drop(columns='state').sort_values('age').head(3)

In [7]:
print(df_mc)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88

In [8]:
df_mc_break = pd.read_csv(
    'data/src/sample_pandas_normal.csv',
    index_col=0
).assign(
    point_ratio=df['point'] / 100
).drop(
    columns='state'
).sort_values(
    'age'
).head(
    3
)

In [9]:
print(df_mc_break)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88

In [10]:
# df_mc_break = pd.read_csv(
#     'data/src/sample_
#     pandas_normal.csv',
#     index_col=0
# ).assign(
#     point_ratio=df['point'] / 100
# ).drop(
#     columns='state'
# ).sort_values(
#     'age'
# ).head(
#     3
# )
# SyntaxError: EOL while scanning string literal

In [11]:
dfdf_mc_break_mc = pd.read_csv(
    'data/src/sample_pandas_normal.csv', index_col=0
).assign(
    point_ratio=df['point'] / 100
).drop(columns='state').sort_values('age').head(3)

In [12]:
print(df_mc_break)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88

In [13]:
df_mc_break_backslash = pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0) \
                          .assign(point_ratio=df['point'] / 100) \
                          .drop(columns='state') \
                          .sort_values('age') \
                          .head(3)

In [14]:
print(df_mc_break_backslash)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88

In [15]:
df_mc_break_parens = (
    pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0)
    .assign(point_ratio=df['point'] / 100)
    .drop(columns='state')
    .sort_values('age')
    .head(3)
)

In [16]:
print(df_mc_break_parens)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88

In [17]:
df_mc_break_parens = (pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0)
                      .assign(point_ratio=df['point'] / 100)
                      .drop(columns='state')
                      .sort_values('age')
                      .head(3))

In [18]:
print(df_mc_break_parens)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88

In [19]:
df_mc_break_parens = (
    pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0).
    assign(point_ratio=df['point'] / 100).
    drop(columns='state').
    sort_values('age').
    head(3)
)

In [20]:
print(df_mc_break_parens)

         age  point  point_ratio
name
Charlie   18     70         0.70
Alice     24     64         0.64
Ellen     24     88         0.88