In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/src/sample_pandas_normal_nan.csv')
print(df)

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
1      NaN   NaN   NaN    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen   NaN    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [3]:
print(df.dropna(how='all'))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen   NaN    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [4]:
print(df.dropna(how='all', axis=1))

      name   age state  point
0    Alice  24.0    NY    NaN
1      NaN   NaN   NaN    NaN
2  Charlie   NaN    CA    NaN
3     Dave  68.0    TX   70.0
4    Ellen   NaN    CA   88.0
5    Frank  30.0   NaN    NaN

In [5]:
# print(df.dropna(how='all', axis=[0, 1]))
# TypeError: supplying multiple axes to axis is no longer supported.

In [6]:
print(df.dropna(how='all').dropna(how='all', axis=1))

      name   age state  point
0    Alice  24.0    NY    NaN
2  Charlie   NaN    CA    NaN
3     Dave  68.0    TX   70.0
4    Ellen   NaN    CA   88.0
5    Frank  30.0   NaN    NaN

In [7]:
df2 = df.dropna(how='all').dropna(how='all', axis=1)
print(df2)

      name   age state  point
0    Alice  24.0    NY    NaN
2  Charlie   NaN    CA    NaN
3     Dave  68.0    TX   70.0
4    Ellen   NaN    CA   88.0
5    Frank  30.0   NaN    NaN

In [8]:
print(df2.dropna(how='any'))

   name   age state  point
3  Dave  68.0    TX   70.0

In [9]:
print(df2.dropna())

   name   age state  point
3  Dave  68.0    TX   70.0

In [10]:
print(df2.dropna(axis=1))

      name
0    Alice
2  Charlie
3     Dave
4    Ellen
5    Frank

In [11]:
print(df.dropna(thresh=3))

    name   age state  point  other
0  Alice  24.0    NY    NaN    NaN
3   Dave  68.0    TX   70.0    NaN
4  Ellen   NaN    CA   88.0    NaN

In [12]:
print(df.dropna(thresh=3, axis=1))

      name   age state
0    Alice  24.0    NY
1      NaN   NaN   NaN
2  Charlie   NaN    CA
3     Dave  68.0    TX
4    Ellen   NaN    CA
5    Frank  30.0   NaN

In [13]:
print(df.dropna(subset=['age']))

    name   age state  point  other
0  Alice  24.0    NY    NaN    NaN
3   Dave  68.0    TX   70.0    NaN
5  Frank  30.0   NaN    NaN    NaN

In [14]:
print(df.dropna(subset=['age', 'state']))

    name   age state  point  other
0  Alice  24.0    NY    NaN    NaN
3   Dave  68.0    TX   70.0    NaN

In [15]:
print(df.dropna(subset=['age', 'state'], how='all'))

      name   age state  point  other
0    Alice  24.0    NY    NaN    NaN
2  Charlie   NaN    CA    NaN    NaN
3     Dave  68.0    TX   70.0    NaN
4    Ellen   NaN    CA   88.0    NaN
5    Frank  30.0   NaN    NaN    NaN

In [16]:
print(df.dropna(subset=[0, 4], axis=1))

      name state
0    Alice    NY
1      NaN   NaN
2  Charlie    CA
3     Dave    TX
4    Ellen    CA
5    Frank   NaN

In [17]:
print(df.dropna(subset=[0, 4], axis=1, how='all'))

      name   age state  point
0    Alice  24.0    NY    NaN
1      NaN   NaN   NaN    NaN
2  Charlie   NaN    CA    NaN
3     Dave  68.0    TX   70.0
4    Ellen   NaN    CA   88.0
5    Frank  30.0   NaN    NaN

In [18]:
# print(df.dropna(subset=['age', 'state', 'xxx']))
# KeyError: ['xxx']

In [19]:
# print(df.dropna(subset=['age', 'state'], axis=1))
# KeyError: ['age', 'state']

In [20]:
df.dropna(subset=['age'], inplace=True)
print(df)

    name   age state  point  other
0  Alice  24.0    NY    NaN    NaN
3   Dave  68.0    TX   70.0    NaN
5  Frank  30.0   NaN    NaN    NaN

In [21]:
s = pd.read_csv('data/src/sample_pandas_normal_nan.csv')['age']
print(s)

0    24.0
1     NaN
2     NaN
3    68.0
4     NaN
5    30.0
Name: age, dtype: float64

In [22]:
print(s.dropna())

0    24.0
3    68.0
5    30.0
Name: age, dtype: float64

In [23]:
s.dropna(inplace=True)
print(s)

0    24.0
3    68.0
5    30.0
Name: age, dtype: float64