In [1]:
t = (0, 1, 2)

In [2]:
print(t)

(0, 1, 2)

In [3]:
print(type(t))

<class 'tuple'>

In [4]:
print(t[0])

0

In [5]:
print(t[:2])

(0, 1)

In [6]:
# t[0] = 100
# TypeError: 'tuple' object does not support item assignment

In [7]:
# t.append(100)
# AttributeError: 'tuple' object has no attribute 'append'

In [8]:
t_add = t + (3, 4, 5)

In [9]:
print(t_add)

(0, 1, 2, 3, 4, 5)

In [10]:
print(t)

(0, 1, 2)

In [11]:
# print(t + [3, 4, 5])
# TypeError: can only concatenate tuple (not "list") to tuple

In [12]:
print(t + tuple([3, 4, 5]))

(0, 1, 2, 3, 4, 5)

In [13]:
# print(t + tuple(3))
# TypeError: 'int' object is not iterable

In [14]:
print(t + (3,))

(0, 1, 2, 3)

In [15]:
l = list(t)

In [16]:
print(l)

[0, 1, 2]

In [17]:
print(type(l))

<class 'list'>

In [18]:
l.insert(2, 100)

In [19]:
print(l)

[0, 1, 100, 2]

In [20]:
t_insert = tuple(l)

In [21]:
print(t_insert)

(0, 1, 100, 2)

In [22]:
print(type(t_insert))

<class 'tuple'>

In [23]:
l = list(t)
l[1] = 100
t_change = tuple(l)

In [24]:
print(t_change)

(0, 100, 2)

In [25]:
l = list(t)
l.remove(1)
t_remove = tuple(l)

In [26]:
print(t_remove)

(0, 2)